.pokemon-card{
    padding: 2em;
    width: 200px;
    border: 1px solid #90A4AE;
    box-sizing: content-box;
    background-color: white;
    /* border-radius: 10px; */
}

.pokemon-card:hover{
    cursor: pointer;
}

.pokemon-type {
    font-size: 12px;
    display: inline-block;
    padding: 2px 1em;
    margin-top: 0;
    color: white;
    background-color: #263238;
    border-radius: 5px;
}

/* .image-container {
    display: flex;
    align-items: center;
} */