.App {
  text-align: center;
  box-sizing: content-box;
}

h1, h2, p {
    margin: 0;
    padding: 0;
}

button {
  margin-bottom: 2em;
  padding: 10px 2em;
  border: 1px solid #263238;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

button:hover{
  transition: all 400ms ease-in;
  background-color: #263238;
  color: white;
}