.pokemon-app {
  width: 100%;
  box-sizing: content-box;
  margin: auto;
  padding: 3em 0;
  color: #263238;
  background: #fff
    url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
}

.pokemon-app h1 {
  margin-bottom: 0.5em;
}

.pokemon-app p {
  margin: 1em 0 3em 0;
}

.pokemon-app button {
  margin: 0 5px 1em 0;
}

.pokemon-container {
  box-sizing: content-box;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  gap: 20px;
  padding: 1em;
  margin: auto;
}
